<div class="menu">
    <a class="logo-header" href="#top">
        <img src="assets/images/tardigrades-logo-inverted-text-color.svg" alt="Tardigrades" />
        <img src="assets/images/tardigrades-logo.svg" class="dissolve" alt="Tardigrades" />
    </a>
    <ul><li><a href="#what-is-it">What is it</a></li><li><a href="#full-featured">Full featured</a></li><li><a href="#philosophy">Philosophy</a></li><li><a href="#about-me">About me</a></li><!--<li class="lined"><a href="/weblog">Weblog</a></li><li><a href="/documentation">Documentation</a></li>--></ul>
</div>
