@import "colors";

#mc_embed_signup {

  &.blue {
    #mc_embed_signup_scroll {
      border: 1px solid $fontColor;
      background: rgba(255, 255, 255, .5);
      .mc-field-group {
        input {
          border: 1px solid $fontColor;
          background: $blueLight;
        }
      }
      input[type=submit] {
        border: 1px solid $fontColor;
        background: $blueLight;
        &:hover {
          background: $blueShade1;
        }
      }
    }
  }

  &.black {
    #mc_embed_signup_scroll {
      border: none;
      background: transparent;
      .mc-field-group {
        input {
          color: white;
          border: 1px solid white;
          background: transparent;
        }
      }
      input[type=submit] {
        color: white;
        border: 1px solid white;
        background: transparent;
        &:hover {
          background: rgba(255, 255, 255, .2);
        }
      }
    }
  }

  #mc_embed_signup_scroll {
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    @include query(mobile) {
      padding: 0;
      border: none;
    }
    .mc-field-group {
      margin: 5px;
      input {
        border-radius: 5px;
        padding: 10px;
        width: 20em;
        font-size: 1.6em;
        @include query(mobile) {
          width: 100%;
          margin: 0;
        }
      }
    }
    input[type=submit] {
      border-radius: 5px;
      padding: 10px;
      margin-top: 10px;
    }
  }
}
