<!doctype html>
<!--
      ,/*,                                                            ,*/,
       .*/(###/,.                                              .,*(###(*.
              ,((###(,                                    ,/####(,
                    ./####(*                        *(####/.
       ,.                 .*###/                *###/.                 .*
        .*/#(/,               ,(#(.          ./##,               ,/(#/*.
               ,/(#/,.          .##*        ,##,          .,/#(/*.
                     ./(#,        ##*      ,##.       ,##(,
                         /(.      *#/      *#*      .(/
                         .#,      ,#/.     /#*      .(,
                         .#,      ,#/.     /#*      .(,
                         .#,      ,#/.     /#*      .(,
                         .#,      ,#/.     /#*      .(,
                         .#,      ,#/.     /#*      .(,
                          .       ,#/.     /#*       .
                                  ,#/.     /#*

                           Tardigrades - Made by Dion
                              hallo@dionsnoeijen.nl
-->
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TJX02CFX3K"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-TJX02CFX3K');
    </script>
    <title>Tardigrades | NoCode Backend Application Platform</title>
    <link href="assets/css/main.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="ISO-8859-1">
    <meta name="description" content="This is the home of the most advanced, backend focussed NoCode platform ever made.">
    <meta property="og:description" content="Tardigrades laser focussed nocode platform.">
    <meta property="og:title" content="Backend applications without writing code.">
    <meta name="twitter:description" content="Tardigrades laser focussed nocode platform.">
    <meta name="twitter:title" content="Backend applications without writing code.">
</head>
<body>
<div class="container" id="top">
    {% include menu.html %}
    {{ content }}
</div>
</body>
</html>

