<!doctype html>
<!--
      ,/*,                                                            ,*/,
       .*/(###/,.                                              .,*(###(*.
              ,((###(,                                    ,/####(,
                    ./####(*                        *(####/.
       ,.                 .*###/                *###/.                 .*
        .*/#(/,               ,(#(.          ./##,               ,/(#/*.
               ,/(#/,.          .##*        ,##,          .,/#(/*.
                     ./(#,        ##*      ,##.       ,##(,
                         /(.      *#/      *#*      .(/
                         .#,      ,#/.     /#*      .(,
                         .#,      ,#/.     /#*      .(,
                         .#,      ,#/.     /#*      .(,
                         .#,      ,#/.     /#*      .(,
                         .#,      ,#/.     /#*      .(,
                          .       ,#/.     /#*       .
                                  ,#/.     /#*

                           Tardigrades - Made by Dion
                              hallo@dionsnoeijen.nl
-->
<html lang="en">
        <head>
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-TJX02CFX3K"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-TJX02CFX3K');
            </script>
            <meta charset="utf-8">
            <title>{{ layout.title }}</title>
            <link href="/assets/css/main.css" rel="stylesheet" />
            {% if layout.container_class == 'container-octopus' %}
            <link href="/assets/css/octopus.css" rel="stylesheet" />
            {% endif %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="{{ layout.description }}">
            <meta property="og:description" content="{{ layout.description }}">
            <meta property="og:title" content="{{ layout.og_title }}">
            <meta name="twitter:description" content="{{ layout.description }}">
            <meta name="twitter:title" content="{{ layout.og_title }}">
        </head>
<body>
    <div class="{{ layout.container_class }}">
        {% include menu.html logo='dissolve' %}
        {{ content }}
    </div>
</body>
</html>
