<!doctype html>
<!--
      ,/*,                                                            ,*/,
       .*/(###/,.                                              .,*(###(*.
              ,((###(,                                    ,/####(,
                    ./####(*                        *(####/.
       ,.                 .*###/                *###/.                 .*
        .*/#(/,               ,(#(.          ./##,               ,/(#/*.
               ,/(#/,.          .##*        ,##,          .,/#(/*.
                     ./(#,        ##*      ,##.       ,##(,
                         /(.      *#/      *#*      .(/
                         .#,      ,#/.     /#*      .(,
                         .#,      ,#/.     /#*      .(,
                         .#,      ,#/.     /#*      .(,
                         .#,      ,#/.     /#*      .(,
                         .#,      ,#/.     /#*      .(,
                          .       ,#/.     /#*       .
                                  ,#/.     /#*

                           Tardigrades - Made by Dion
                              hallo@dionsnoeijen.nl
-->
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-TJX02CFX3K"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-TJX02CFX3K');
        </script>
        <meta charset="utf-8">
        <title>Tardigrades | {{ page.title }} | Documentation</title>
        <link href="/assets/css/main.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ page.description }}">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:title" content="Tardigrades | {{ page.title }} | Documentation">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:title" content="Tardigrades | {{ page.title }} | Documentation">
    </head>
    <body class="docs">
        {% include menu.html logo='normal' %}
        <div class="container-docs" id="top">
            <div class="navigation">
                {% include nav.html nav=site.data.menu %}
            </div>
            <div class="documentation">
                {{ content }}
            </div>
        </div>
    </body>
</html>
